@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.text{
    font-size: 20px;
}
.logo{
    width: 150px;

}
.open-btn{
    position: fixed;
    top: 10px;
    left: 10px;

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: trasform 0.3s ease-out;
}
.nav.visible{
    transform: translateX(0);
}
.nav-black{
    background-color: rgb(34, 31, 31);
    width: 60%;
    max-width: 400px;
    min-width: 260px;
    /* transition-delay: .04s; */
}

.nav-black.visible{
    transition-delay: 0s;
}
.nav-red{
    background-color: rgb(229, 9, 30);
    width: 95%;
}
.nav-white{
    background-color: #fff;
    width: 95%;
    padding: 20px;
    position: relative;
}
.close-btn{
    opacity: 0.3;
    position: absolute;
    top: 50px;
    right: 30px;
}
.list{
    list-style-type: none;
    padding: 0;
}
.list li{
    margin: 20px 0;
}
.list li a{
    color: rgb(34, 31, 31);
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}













