*{
    margin: 0px;
    padding: 0px;
}
.main{
    display: flex;
}
.left{
    height: 652px;
    width: 90px;
    border-right: 1px solid rgb(214, 209, 209);
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    flex-direction: column;
}
.social img{
    height: 40px;
    width: 40px;
    margin: 20px;
    margin-bottom: 60px;
}
.social a{
    font-size: 30px;
    margin-bottom: 25px;
    margin-left: 25px;
    color: rgb(190, 181, 181);
}
.center{
    height: 652px;
    width: 955px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.right{
    height: 652px;
    width: 310px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.subcentert{
    height: 422px;
    width: 955px;
    /* border: 1px solid black; */
    display: flex;

}
.subcenterb{
    display: flex;
}
.box5{
    width: 500px;
    margin-left: 30px;
    margin-right: 30px;
    height: 200px;
    margin-top: 20px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.head5{
    display: flex;
    margin: 20px;
    font-family: sans-serif;
    justify-content: space-between;
}

.head5 a{
    font-size: 12px;
    margin-top: 8px;
    text-decoration: none;
}
.contentb {
    display: flex;
    margin-bottom: 20px;
}
.contentb img{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: -5px;
    margin-right: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.contentb a{
    margin-right:15px ;
    color: grey;
    text-decoration: none;
}
.subhead{
    /* margin-right: 85px; */
    width: 220px;
}
.box6{
    width: 355px;
    height: 190px;
    margin-top: 20px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.box6 img{
 width: 354px;
 height: 140px;   
}
.chart3 h3{
    margin: 10px;
    margin-left: 30px;
}
.chart3 a{
    margin-left: 70px;
    text-decoration: none;
    color: black;
    
}
.boxs{
    height: 422px;
    width: 355px;
    /* border: 1px solid black; */

}
.boxl{
    height: 422px;
    width: 598px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;

}

.box3{
    height: 215px;
    width: 450px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    margin-left: 110px;
    margin-bottom: 10px;
}
.chart1{
    display: flex;
    margin: 10px;
    /* margin-left: 70px; */
}
.chart1 h3{
    width: 300px;
}
.chart1 a{
    text-decoration: none;
    margin-top: 3px;
    margin-left: 20px;
    color: black;
}
.box3 img{
    height: 170px;
    width: 450px;
    /* margin-left: 60px; */
}
.box4{
    height: 215px;
    width: 450px;
    margin-left: 110px;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.box4 img{
    height: 160px;
    width: 450px;
    /* margin-left: 60px; */
}
.chart2{
    display: flex;
    margin: 10px;
    /* margin-left: 70px; */
}
.chart2 h3{
    width: 300px;
}
.chart2 a{
    text-decoration: none;
    margin-top: 3px;
    margin-left: 40px;
    color: black;
}
.box1{
    height: 280px;
    width: 335px;
    /* border: 1px solid black; */
    margin-left: 30px;
}
.box1 h3{
    margin: 10px;
    font-size: 23px;
    color: grey;
}
.box1 h1{
    margin: 10px;
    font-size: 55px;
}
.box1 a{
    color: rgb(85, 82, 82);
    text-decoration: none;
    margin: 20px;

}
.box1 font{
    color: rgb(206, 202, 202);
}
.taskbox{
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 20px;
    height: 130px;
    width: 300px;
    display: flex;
    /* border: 1px solid black; */
    background-color: rgb(22, 22, 117);
    color: #fff;

}
.taskbox img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 20px;
}
.taskbox h1{
    font-size: 25px;
    margin-left: -10px;
    margin-top: 20px;
}
.taskbox h4{
    font-size: 19px;
    margin-left: -5px;
}
.box2{
    height: 140px;
    width: 335px;
    border: 1px solid black;
    margin-left: 30px;
}
.box7{
    height: 60px;
    width: 310px;
    /* border: 1px solid black; */
}
.box8{
    height: 192px;
    width: 280px;
    margin-left: 15px;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
}
.sdata{
    margin-top: 15px;
    height: 130px;
    display: flex;
    width: 280px;
    border-radius: 8px;
    border: 1px solid rgb(141, 139, 139);
    justify-content: space-evenly;
}
.sdata1{
    display: flex;
    flex-direction: column;
    
}
.sdata1 img{
    height: 80px;
    width: 80px;
    margin-bottom: -15px;

}
.box9{
    height: 240px;
    width: 280px;
    margin-left: 15px;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.cat{
    display: flex;
}
.cat a{
    font-size: 12px;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 5px;
}
.scat{
    display: flex;
    margin-top: 25px;
}
.scat a{
    width: 50px;
    font-size: 35px;
    margin-right: 8px;
    border-radius: 5px;
    text-align: center;
    /* margin-top: 5px; */
    color: rgb(94, 62, 51);
    background-color: coral;
}
.sscat{
    width: 180px;
}
.sscat h5{
    color: gray;
}
.cat h2{
    width: 180px;
}
.box10{
    height: 172px;
    width: 280px;
    margin-left: 15px;
    margin-top: 30px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}
.row img{
    height: 50px;
    width: 50px;
    margin-right: 15px;
    border-radius: 50%;
}
.box7{
    display: flex;
    margin-top: 15px;
}
.box7 a{
    color: rgb(82, 79, 79);
    font-size: 35px;
    margin-left: 15px;
    
    /* justify-content: space-between; */
}
.rbox{
width: 140px;
}
.statistics{
    display: flex;
    justify-content: space-between;
}
.statistics a{
    color: black;
    margin-top: 5px;
}